<h1>Kakariko Admin</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Books</h2>
      <hr>
      <form class="form-group" action="/book" method="post">
        <label for="title">Book Title:</label>
        <input class="form-control" type="text" name="title">
        <label for="author">Author:</label>
        <input class="form-control" type="text" name="author">
        <br>
        <button type="submit" class="btn btn-primary" name="button">Add Book</button>
      </form>
      <h2>List of Books</h2>
      <% @books.each do |book| %>
        <%= "<h4><a href='/book/#{book.id}'>#{book.title}</a></h4>" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>Patrons</h2>
      <hr>
      <form class="form-group" action="/patron" method="post">
        <label for="name">Patron Name:</label>
        <input class="form-control" type="text" name="name">
        <br>
        <button type="submit" class="btn btn-primary" name="button">Add Patron</button>
      </form>
      <h2>List of Patrons</h2>
      <% @patrons.each do |patron| %>
        <%= "<h4><a href='/patron/#{patron.id}'>#{patron.name}</a></h4>" %>
      <% end %>
    </div>
  </div>
</div>
